.textarea{
    border: 2px solid gray; 
    box-shadow: 0 0 10px gray;
    width: 96%;
    height: 49%;
}
.right{
    border:2px solid gray;
    box-shadow: 0 0 10px gray;
    height: 99%;

}
.main-section{
    display: table; height: 60%; width: 100%;
}
#text-to-type ,#typing-result{
    max-width: 200px;
}

.right{
    
    width:25%;
}
.left, .right{
    display: table-cell;
    
    
}
.left{
    
    
    width: 70%;
    
}
b{
    margin: 10px;
    
}
