.table{
    width: 97vw;
    display: table;   
    border-collapse: collapse; 
}
.cell{
    display: table-cell;
    vertical-align: top;
    padding-top: 0.3rem;
}
.tr{
    display: table-row;
    border: 1px solid  #000000;
}

#selection-table .cell{
    text-align: left;
    width: 49vw;
    width: 49vw;
}
#selection-table .cell:first-child{
    border-right: 1px solid #000000;
    
}
#selection-table .tr:first-child .cell{
    text-align: center;
}
#display-images img,#selection-table img{
    margin-left: 10px;
}
#right-stars span{
    color: #ccc;
}