.main-part{
    height: 100vh;
    width: 100vw;
    display: table;    
}
.cells{
    display: table-cell;
    vertical-align: top;
    padding-top: 0.3rem;
}
.grid{
    position: relative;    
    height: 400px;
    width: 400px;
    background-image: url('img/grass.jpg');
}
#target, .actor {
    height: 35px;
    width: 35px;
    position: absolute;
    z-index: 100;
}
